{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "comma-dangle": ["error", "never"],
    "max-len": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-return-assign": "off",
    "object-curly-newline": "off",
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-max-props-per-line": [1, { "when": "always" }],
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off"
  }
}
