[tool.black]
line-length = 120
target-version = ["py37", "py38", "py39", "py310"]
extend_exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | \.env
  | _build
  | buck-out
  | build
  | dist
  | .vscode
  | dev
  | .coverage
)/
'''
[tool.isort]
profile = "black"

[tool.mypy]
python_version = 3.7
strict = true
ignore_missing_imports = true
disallow_subclassing_any = false
exclude = "(data|tests)"