cdk.out/**
**.pyc
**/__pycache__/**
setenv.sh
tests/unittests/test-reports/**
metastore_db/**
*.log
**buildspec**.yaml
**.zip
.DS_Store
pyvenv.cfg
.venv
.idea*
*pyc
pip-selfcheck.json
site/
venv/
htmlconv/
*.egg-info/
.coverage
dist/
build/
htmlcov/
cobertura.xml
reports
