fastapi
uvicorn
requests
pytest
boto3==1.16.43
botocore==1.19.43
pyyaml
safety
boto3-stubs
aws-cdk.core==1.132.0
aws-cdk.aws-lambda==1.132.0
aws-cdk.aws-lambda-python==1.132.0
aws-cdk.aws-lambda-event-sources==1.132.0
aws-cdk.aws-events==1.132.0
aws-cdk.aws-cognito==1.132.0
aws-cdk.aws-rds==1.132.0
aws-cdk.aws-s3==1.132.0
aws-cdk.aws_s3_deployment==1.132.0
aws-cdk.aws-glue==1.132.0
aws-cdk.aws_sns==1.132.0
aws-cdk.aws-codecommit==1.132.0
aws-cdk.aws-codebuild==1.132.0
aws-cdk.aws-codepipeline==1.132.0
aws-cdk.pipelines==1.132.0
aws-cdk.aws_apigateway==1.132.0
aws-cdk.aws_ecs_patterns==1.132.0
aws-cdk.aws-cloudfront-origins==1.132.0
aws-embedded-metrics
pytest
pytest-mock
py4j
pyspark
coloredlogs
