tabulate==0.8.9
pyyaml==5.4.1
jsonschema==3.2.0
jinja2==3.0.1
toposort==1.6
aws-embedded-metrics==1.0.7
fastapi==0.68.1
uvicorn==0.15.0
requests==2.26.0
pytest==6.2.5
importlib_metadata==4.8.1
nanoid==2.0.0
pytest-spark==0.6.0
