name: Static Checking

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - release/*

jobs:
  Check:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r backend/requirements.txt
          python -m pip install -r backend/dataall/cdkproxy/requirements.txt
          python -m pip install flake8
          python -m pip install mypy
          python -m pip install isort
          python -m pip install black
      - name: Imports order check (isort)
        run: isort --check .
      - name: Black style
        run: black --check .
      - name: mypy check
        run: |
          mypy --install-types --non-interactive cli core
      - name: Flake8 Lint
        run: |
          flake8 --exclude cdk.out,blueprints --ignore E402,E501,F841,W503,F405,F403,F401,E712,E203 backend/
